.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  color: rgb(15, 42, 250);
}

.logoname {
    display: flex;
  width: 150px;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 100px;
  color: rgb(61,243,5);
}

.nav-bar {
  display: flex;
  font-size: 20px;
  padding: 20px 15px;
  align-items: center;
  gap: 20px;
}


/* .signup {
    background: transparent;
    color: rgb(255, 0, 0);
    border: 1px solid tomato;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.signup:hover{
    background-color: aqua;
} */

.log-in {
  background: transparent;
  color: rgb(0, 110, 255);
  border: 1px solid rgb(21, 14, 13);
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.log-in:hover{
  background-color: rgb(64, 255, 0);
}

.navbar .active{
    text-decoration: underline rgb(255, 42, 0);
    background-color: rgb(61, 243, 5);
    padding: 10px 30px;
    color: rgb(2, 87, 2);
}

.navbar .nav-bar div{
    cursor: pointer;
    transition: 0.3s;
}