.orders {
    margin: 50px 0px;
}

.orders h2 {
    font-size: 2vw;
}

.orders .userorders {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 20px 0px;
}

.userorders .each-order {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr;
    align-items: center;
    gap: 30px;
    font-size: 1.25vw;
    padding: 50px 20px;
    color: black;
    border: 1px solid rgb(17, 229, 6);
}

/* 
@media (max-width:900px) {
    .each-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 1px;
    }
} */