.header {
    height: 100vh;
    margin: 0 auto;
    background: url('/header_img.png') no-repeat center center;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    z-index: 1; /* Ensure this is above the background image */
    animation: fadein 3s;
}

.header-contents h2, 
.header-contents p, 
.header-contents button {
    background-color: rgba(26, 255, 0, 0.905); /* Semi-transparent background */
    color: rgb(5, 16, 224); /* Text color */
    margin: 0; /* Reset margin */
    border: none; /* Remove border from button */
    text-align: left; /* Align text to the left */
}

.header-contents h2 {
    font-weight: 500;
    font-size: max(3.5vw, 20px);
    color:white;
}

.header-contents p{
    color: black;
    font-size: 1.5vw;
}

.header-contents button {
    border: none;
    cursor: pointer;
    background-color: rgba(68, 255, 0, 0.905); /* Ensure button has the same background */
    color: rgb(21, 5, 243);
    padding: 10px 20px;
    border-radius: 10px; /* Rounded corners */
    font-size: max(1vw,13px);
}
