.header {
    height: 100vh;
    margin: 0 auto;
    background: url('/header_img.png') no-repeat center center;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    z-index: 1;
    animation: fadein 3s;
    background-color: rgba(26, 255, 0, 0.905);
}

.header-contents h2,
.header-contents p,
.header-contents a {
    background-color: rgba(26, 255, 0, 0.905);
    color: rgb(5, 16, 224);
    margin: 0;
    border: none;
    text-align: left;
}

.header-contents h2 {
    font-weight: 500;
    font-size: max(3.5vw, 20px);
    color: white;
}

.header-contents p {
    color: black;
    font-size: 1.5vw;
}

.header-contents a {
    border: none;
    cursor: pointer;
    color: rgb(21, 5, 243);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: max(1.5vw, 13px);
    background-color: aqua;
}

.buttons {
    display: flex;
    background-color: rgba(26, 255, 0, 0.905);
    gap: 20px;
}