.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.explore-menu h1 {
    color: #14d60a;
    font-weight: 500;
    font-size:3vw;
}

.explore-menu-text {
    max-width: 80%;
    font-size: 2vw;
}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 10px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item img {
    min-width: 80px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
}

.explore-menu-list-item p {
    font-size: max(1.4vw, 16px);
    cursor: pointer;
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: white;
}

.explore-menu-list-item .active {
    border: 5px solid rgb(0, 255, 42);
    padding: 2px;
    transition: 0.3s;
}

.explore-menu hr {
    display: none;
}

@media (max-width:900px) {
    .explore-menu h1{
        font-size:xx-large;
    }
    .explore-menu-text{
        font-size: larger;
    }
    .explore-menu-list p{
        font-size: larger;
    }
}